<p>
  <b>Name:</b>
  <%=h @state.name %>
</p>

<p>
  <b>Sequence number:</b>
  <%=h @state.sequence_number %>
</p>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
