<p>
  <b>Team:</b>
  <%=h @default_team_assignment.team_id %>
</p>

<p>
  <b>State:</b>
  <%=h @default_team_assignment.state_id %>
</p>


<%= link_to 'Edit', edit_default_team_assignment_path(@default_team_assignment) %> |
<%= link_to 'Back', default_team_assignments_path %>
