  <h1><%=link_to @release.name, @release %> \ Dashboard</h1>
 
<h2>Clusters</h2>
<% count = 0%>
<% for tag in Tag.find(:all, :order => :name) 
	clusters = Cluster.find_tagged_with(tag).find_all {|c| c.release_id == @release.id}
	cluster_has_unshunted = clusters.collect { |c| c.unshunted? }.include? true
	%>
	<% unless clusters.empty?%>
	<div class="cluster_block">
		<% count = count + 1%>
		<%= image_tag cluster_has_unshunted ? "go.png" : "stop.png", :valign=>:middle %>
		<%= tag%>
	<% end %>
  </div>
	<% if count % 4 == 0%></tr><tr bgcolor="<%=cycle('#EEEEEE','#DDDDDD')%>"><% end %>
	<% end %>
	

